:root {
    color-scheme: light dark;
}

body {
	padding: 10px;
	
    width: 360px;

    font-family: system-ui;
	color: #2d2d2d;
}

select {
	width: 100%;
	
	background: none;
	border: none;
	
	font-size: 14px;
	color: inherit;
	
	outline: none;
}

option {
	white-space: normal;
}

.messageContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 360px;
	height: 70px;
}

@media (prefers-color-scheme: dark) {
	select {
		color: white;
	}
}
