:root {
    color-scheme: light dark;
	
	--selection-row-center: 44dvh;
	--selection-row-height: 32px;
	--selection-row-border-radius: 9px;
	
	--selection-row-top: calc(var(--selection-row-center) - var(--selection-row-height) / 2);
	--selection-row-bottom: calc(100dvh - var(--selection-row-top) - var(--selection-row-height))
}

body {
	margin: 0;
	padding: 0px;

    font-family: system-ui;
	color: #2d2d2d;
}

.scrollingWrapper {
	height: 100dvh;
	min-height: 200px;
	padding-top: var(--selection-row-top);
	padding-bottom: var(--selection-row-bottom);
	
	overflow-y: scroll;
	box-sizing: border-box;
	scroll-snap-type: y mandatory;
	scroll-padding-top: var(--selection-row-top);
	scroll-padding-bottom: var(--selection-row-bottom);
}

.scrollingWrapper > ul {
	margin: 0 22px;
	padding: 0;
}

.scrollingWrapper > ul > li {
	line-height: var(--selection-row-height);
	
	white-space: nowrap;
	text-overflow: ellipsis;
	
	list-style: none;
	overflow: hidden;
	scroll-snap-align: start;
}

.selectionRow {
	position: fixed;
	top: var(--selection-row-top);
	right: 11px;
	left: 11px;
	height: var(--selection-row-height);
	
	z-index: -1;
	background-color: rgb(0, 122, 255);
	background-color: AccentColor;
	border-radius: var(--selection-row-border-radius);
	filter: brightness(0.8) invert();
	
	pointer-events: none;
}

.selectionRowEffect {
	position: fixed;
	top: var(--selection-row-top);
	right: 11px;
	left: 11px;
	height: var(--selection-row-height);
	
	background-color: rgba(0, 0, 0, 0.01);
	border-radius: var(--selection-row-border-radius);
	-webkit-backdrop-filter: invert() brightness(1.2);
	
	pointer-events: none;
}

.messageContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 260px;
	height: 40px;
}

@media (prefers-color-scheme: dark) {
	body {
		color: white;
	}
	
	/* No text inversion in dark mode */
	.selectionRow {
		filter: none;
	}
	
	.selectionRowEffect {
		-webkit-backdrop-filter: none;
	}
}
